* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Poppins", sans-serif;
}
/* Comman */
.section-title {
  color: #fff;
  font-size: 30px;
  font-weight: 600;
  letter-spacing: 1px;
  margin-bottom: 10px;
}
.text {
  font-size: 16px;
  font-weight: 300;
  letter-spacing: 1px;
  color: #fff;
}
/* End Comman */

/* Hero Section */
#hero {
  position: relative;
  background: #3475ca;
  width: 100%;
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
}
#hero img {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  object-fit: cover;
  opacity: 0.25;
}

#hero .content {
  position: relative;
  max-width: 750px;
  text-align: center;
}
#hero .content h2 {
  color: #fff;
  font-size: 60px;
}
#hero .content p {
  color: #fff;
  font-size: 18px;
  padding-top: 10px;
}
#hero header {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  padding: 40px 100px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  z-index: 10000;
}
#hero header a {
  text-decoration: none;
  font-weight: 700;
  color: #fff;
  font-size: 1.6rem;
  letter-spacing: 1px;
  text-transform: uppercase;
}
#hero header .toggle{
  position: relative;
  font-size: 1.6rem;
}

#hero header .logo{
  font-size: 2rem;
}
/* End of Hero Section */

/* Service Section */
#services {
  background-color: #12222d;
  padding: 100px;
  text-align: center;
}
#services .container {
  width: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
  flex-wrap: wrap;
  margin-top: 60px;
}
#services .container .serviceBx {
  position: relative;
  background: #fff;
  width: 350px;
  height: 400px;
  display: flex;
  justify-content: center;
  align-items: center;
}
#services .container .serviceBx img {
  max-width: 100px;
}
/* End of Service Section */

/* Technology Section */
#tech {
  background-color: #3f8ffc;
  width: 100%;
  padding: 100px;
  padding-top: 300px;
  margin-top: -300px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}
#tech .contentBx {
  max-width: 800px;
}
#tech .imgBx {
  max-width: 250px;
}
#tech .imgBx img {
  max-width: 100%;
}
/* End of Technology Section */

/* Clinets Section */
#clients {
  background: #162c3b;
  padding: 100px;
  text-align: center;
}
#clients .imgBx {
  display: flex;
  justify-content: space-between;
  align-items: center;
  flex-wrap: wrap;
  margin-top: 40px;
}
#clients .imgBx img {
  max-width: 200px;
  margin: 20px;
  opacity: 0.25;
  cursor: pointer;
}
#clients .imgBx img:hover {
  opacity: 1;
}
/* End of Clinets Section */

/* Tour */
#tours{
  background: #162c3b;
  padding: 100px;
}
#tours h2{
  text-align: center;
}
.tour-content{
  border: 2px solid grey;
}
.tour-content h1{
  color: #fff; 
  padding-left: 20px;
  padding: 15px 10px;
}
.tour-detail{
  display: flex;
  justify-content: space-between;
}
.tour-detail button{
  margin-top: 10px;
  margin-bottom: 10px;
  margin-right: 60px;
  height: 40px;
  background-color: #21D4FD;
  background-image: linear-gradient(19deg, #21D4FD 0%, #B721FF 100%);
  padding: 4px;
  border: none;
  cursor: pointer;
  color: #fff;
  font-weight: 500;
  font-size: .9rem;
}
/* End of Tour */

/* Footer Section */
#footer {
  background: #162c3b;
  padding: 20px 100px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  font-size: 1.5rem;
}
.footer p{
  font-size: 1.5rem;
  font-weight: 500;
}
#footer ul {
  color: #fff;
}
#footer ul li {
  list-style: none;
}
#footer ul li a {
  text-decoration: none;
  display: inline-block;
  margin: 0 10px;
  color: #fff;
}
#footer ul li a img {
  filter: invert(1);
  max-width: 20px;
}
/* End of Footer Section */

/* Media Query */
@media (max-width: 991px) {
  #hero {
    padding: 50px;
  }
  #hero header {
    padding: 20px 50px;
  }
  #hero .content h2 {
    font-size: 36px;
  }
  #hero .content p {
    font-size: 16px;
  }
  #about {
    flex-direction: column;
  }
  #about .left,
  #about .right {
    width: 100%;
    padding: 50px;
    min-height: 400px;
    text-align: center;
  }
  #services {
    padding: 50px;
  }
  #services .container {
    justify-content: center;
    margin-top: 20px;
  }
  #services .container .serviceBx {
    margin: 20px;
    width: 300px;
    height: 350px;
  }
  #tech {
    padding: 50px;
    padding-top: 300px;
    justify-content: center;
    flex-direction: column;
  }
  #tech .imgBx {
    margin-top: 40px;
    max-width: 250px;
    justify-content: center;
  }
  #clients {
    padding: 50px;
  }
  #clients .imgBx {
    justify-content: center;
  }
  #test {
    padding: 50px;
  }
  #test .container {
    justify-content: center;
  }
  #test .contentBx {
    padding: 60px 40px;
    max-width: 550px;
    margin-bottom: 40px;
  }
  #test .contentBx:last-child {
    margin-bottom: 0;
  }
  #contact {
    padding: 50px;
  }
  #footer {
    padding: 20px 50px;
    flex-direction: column-reverse;
    text-align: center;
  }
  #footer ul {
    margin-bottom: 20px;
  }
}
@media (max-width: 410px) {
  #hero{
    padding: 50px;
  }
  #hero .content{
    padding-top: 40px;
  }
}
/* End of Media Query */
